<!DOCTYPE html>

<%-include ("./partials/head", {cssSheets: cssSheets}, {title: title}) %>

<body>
    
    <%-include("./partials/header") %>

    <main>

        <!-- Implementar carrusel a futuro -->
        <div class="top-carrusel">
            <section>
                <figure id="carrusel">
                    <img src="images/index/carrusel.jpg" class="imagen-carrusel">
                </figure>
                <h1>¡Rebajas CriStyle!</h1>
                <p> Una página donde las prendas estan a la altura de tu estilo </p>
            </section>
        </div>
        
        <div class="productos-flex"> 
            <% discountProducts.forEach(product => { %>
                <article class="productos-home">
                    <figure>
                        <a href="/productos/detalle/<%= product.id %>"><img src="/images/products/<%= product.image %>" class="imgagen-productos"></a>
                    </figure>
                    <h3 class="name"><%= product.name %></h3>
                    <div class="price-and-dicount">
                    <p class="price">$<%= product.price %></p>
                    <% if (product.discount > 0) { %>
                        <p class="discount"><%= product.discount %>%OFF</p>
                    <% } %>
                    </div>
                    <button type="submit" class="boton-verProducto">
                        <a href="/productos/detalle/<%= product.id %>"> VER PRODUCTO </a>
                    </button>
                </article>
            <% }) %>
        <div>
    </main>

    <%- include("./partials/footer") %>
    
</body>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>