<!DOCTYPE html>

<%-include ("../partials/head", {cssSheets: ["allProducts","showProducts"], title: "Todos los productos"}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <% if (locals.busqueda) { %>
            <h1 id="title">Tu búsqueda: <%= busqueda %></h1>
        <% } else { %>
            <h1 id="title">Nuestros productos</h1>
        <% } %>

        <% if (products.length == 0) { %>
        <h2 id="noMatch">Lo sentimos, no hemos encontrado productos que coincidan con tu búsqueda</h2>
        <% } else { %>
        <div class="productos-flex">
            <% products.forEach(product => { %>
                <article class="productos-home">
                    <figure>
                        <a href="/productos/detalle/<%= product.id %>"><img src="/images/products/<%= product.image %>" class="imgagen-productos"></a>
                    </figure>
                    <h3 class="name"><%= product.name %></h3>
                    <div class="price-and-dicount">
                        <p class="price">$<%= product.price %></p>
                        <% if (product.discount > 0) { %>
                            <p class="discount"><%= product.discount %>%OFF</p>
                        <% } %>
                        </div>
                    <button type="submit" class="boton-verProducto">
                        <a href="/productos/detalle/<%= product.id %>"> VER PRODUCTO </a>
                    </button>
                </article>
            <% }) %>
        <div>
        <% } %>
    </main>
        
    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>