<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <h1 id="title">Nuestros productos</h1>
        <div class="productos-flex">
            <% allProducts.forEach(product => { %>
                <article class="productos-home">
                    <figure>
                        <a href="/productos/detalle/<%= product.id %>"><img src="/images/products/<%= product.image %>" class="imgagen-productos"></a>
                    </figure>
                    <h3 class="name"><%= product.name %></h3>
                    <p class="description"><%= product.description %> </p>
                    <% if (product.discount > 0) { %>
                        <p class="discount"><%= product.discount %>%OFF</p>
                    <% } %>
                    <p class="price">$<%= product.price %></p>
                    <button type="submit" class="boton-comprar">
                        <a href="/productos/carrito">COMPRAR</a>
                    </button>
                </article>
            <% }) %>
        <div>
    </main>
        
    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>