<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <div class="container products-wrapper">
            <div>
                <div >
                    <h2 class="products-title">Estas editando <i>
                        <%= locals.product ? product.name : locals.oldData ? oldData.name : null %>
                    </i></h2>
                </div>
            </div>
            <div class="form-padding">
                <div  class="form-create">
                    <form action="/productos/<%= locals.product ? product.id : null %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <div class="flex-desktop">
                                <div class="first-flex">
                                    <div class="form-class">
                                        <label for="name" class="form-label">Nombre del producto:</label>
                                        <br>
                                        <input type="text" id="name" name="name" class="form-input" value="<%= locals.oldData ? oldData.name : locals.product ? product.name : null %>">
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.name) { %>
                                        <p class="error"> <%= errorMessages.name.msg %> </p>
                                    <% } %>

                                    <div class="form-class">
                                        <label for="price" class="form-label">Precio del producto:</label>
                                        <br>
                                        <input type="text" id="price" name="price" value="<%= locals.oldData ? oldData.price : locals.product ? product.price : null %>" class="form-input">
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.price) { %>
                                        <p class="error"> <%= errorMessages.price.msg %> </p>
                                    <% } %>

                                    <div class="form-class">
                                        <label for="discount" class="form-label">Descuento:</label>
                                        <br>
                                        <input type="text" id="discount" name="discount" value="<%= locals.oldData ? oldData.discount : locals.product ? product.discount : null %>" class="form-input">
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.discount) { %>
                                        <p class="error"> <%= errorMessages.discount.msg %> </p>
                                    <% } %>
                                </div>

                                <div class="second-flex">    
                                    <div class="form-class">
                                        <label for="category" class="form-label">Categoría:</label>
                                        <br>
                                        <select name="categoryId" id="category" class="form-input">
                                            <% for (let i = 0; i < categories.length; i++) { %>
                                                <% if(categories[i].id == product.categories_id){ %>
                                                    <option value="<%= categories[i].id %>" selected>
                                                        <%= categories[i].category %>
                                                    </option>
                                            <% } else { %>
                                            <option value="<%=categories[i].id%>">
                                                <%= categories[i].category %>
                                            </option>
                                            <% } %>
                                        <% } %>
                                        </select>
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.category) { %>
                                        <p class="error"> <%= errorMessages.category.msg %> </p>
                                    <% } %>

                                    <div class="form-class">
                                        <label for="size" class="form-label">Talle:</label>
                                        <br>
                                        <select name="sizeId" id="size" class="form-input">
                                            <% for (let i = 0; i < sizes.length; i++) { %>
                                                <% if(sizes[i].id == product.sizes_id){ %>
                                                    <option value="<%= sizes[i].id %>" selected>
                                                        <%= sizes[i].size %>
                                                    </option>
                                            <% } else { %>
                                            <option value="<%=sizes[i].id%>">
                                                <%= sizes[i].size %>
                                            </option>
                                            <% } %>
                                        <% } %>
                                        </select>
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.size) { %>
                                        <p class="error"> <%= errorMessages.size.msg %> </p>
                                    <% } %>

                                    <div class="form-class">
                                        <label for="image" class="form-label">Insertar Imagen: (Si no sube ningún archivo se preservará la imagen anterior)</label>
                                        <br>
                                        <input type="file" id="image" class="form-image" name="image">
                                    </div>
                                    <% if (locals.errorMessages && errorMessages.image) { %>
                                        <p class="error"> <%= errorMessages.image.msg %> </p>
                                    <% } %>
                                </div>
                            </div>        

                            <div id="gender">
                                <label for="gender">Selecciona el género: </label><br>
                                <input type="radio" id="male" name="gender" value="hombre"
                                    <% if ((locals.oldData && oldData.gender === "hombre") || (!locals.oldData && locals.product && product.gender === "hombre")) { %>
                                        checked
                                    <% } %>
                                > Hombre <br>
                                <input type="radio" id="female" name="gender" value="mujer"
                                    <% if ((locals.oldData && oldData.gender === "mujer") || (!locals.oldData && locals.product && product.gender === "mujer")) { %>
                                        checked
                                    <% } %>
                                > Mujer <br>
                            </div>
                            <% if (locals.errorMessages && errorMessages.gender) { %>
                                <p class="error"> <%= errorMessages.gender.msg %> </p>
                            <% } %>

                            <div class="form-class">
                                <label for="description" class="form-label">Descripción:</label>
                                <br>
                                <textarea name="description" id="description" class="description"><%= locals.oldData ? oldData.description : locals.product ? product.description : null %></textarea>
                            </div>
                            <% if (locals.errorMessages && errorMessages.description) { %>
                                <p class="error"> <%= errorMessages.description.msg %> </p>
                            <% } %>

                            <div class="form-class">
                                <button type="submit" class="buy-now-button">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>