<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <div class="container products-wrapper">
            <div>
                <div >
                    <h2 class="products-title">Estas editando <i><%= product.name %></i></h2>
                </div>
            </div>
            <div class="form-padding">
                <div  class="form-create">
                    <form action="/productos/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div>
                            <div class="flex-desktop">
                                <div class="first-flex">
                                    <div class="form-class">
                                        <label for="name" class="form-label">Nombre del producto:</label>
                                        <br>
                                        <input type="text" id="name" name="name"  class="form-input" value=" <%= product.name %>">
                                    </div>
                                    <div class="form-class">
                                        <label for="price" class="form-label">Precio del producto:</label>
                                        <br>
                                        <input type="text" id="price" name="price" value="<%= product.price %>" class="form-input">
                                    </div>
                                    <div class="form-class">
                                        <label for="discount" class="form-label">Descuento:</label>
                                        <br>
                                        <input type="text" id="discount" name="discount" value="<%= product.discount %>" class="form-input">
                                    </div>
                                </div>
                                <div class="second-flex">    
                                    <div class="form-class">
                                        <label for="category" class="form-label">Categoría:</label>
                                        <br>
                                        <select name="category" id="category" class="form-input">
                                            <option value="">Elegí</option>
                                            <option value="in-sale">En oferta</option>
                                            <option value="visited">Últimos agregados</option>
                                            <option value="top-clothing">Prenda Superior</option>
                                            <option value="bottom-clothing">Prenda Inferior</option>
                                            <option value="accesorie">Accesorio</option>
                                        </select>
                                    </div>
                                    <div class="form-class">
                                        <label for="size" class="form-label">Talle:</label>
                                        <br>
                                        <select name="size" id="size" class="form-input">
                                            <option value="">Elegí</option>
                                            <option value="size-S">Small</option>
                                            <option value="size-M">Medium</option>
                                            <option value="size-L">Large</option>
                                        </select>
                                    </div>
                                    <div class="form-class">
                                        <label for="image" class="form-label">Insertar Imagen:</label>
                                        <br>
                                        <input type="file" id="image" class="form-image">
                                    </div>
                                </div>
                            </div>        
                            <div class="form-class">
                                <label for="description" class="form-label">Descripción:</label>
                                <br>
                                <textarea name="description" id="description" class="description"><%= product.description %></textarea>
                            </div>
                            <div class="form-class">
                                <button type="submit" class="buy-now-button">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>