<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <div class="titulo-producto">
            <h2><%= product.name %></h2>
        </div>
        <div class="left-flexbox">
            <section class="main-images">
                <figure>
                    <img src="/images/products/<%= product.image %> ">
                </figure>
            </section>
            <section class="left-images">
                <figure>
                    <img src="/images/products/<%= product.image %> ">
                </figure>
                <figure>
                    <img src="/images/products/<%= product.image %> ">
                </figure>
                <figure>
                    <img src="/images/products/<%= product.image %> ">
                </figure>
                <figure>
                    <img src="/images/products/<%= product.image %> ">
                </figure>
            </section>
        </div>
        <div class="right-flexbox">
            <div class="titulo-producto-desktop">
                <h3><%= product.name %></h3>
            </div>
            <div class="in-flexbox">
                <section>
                    <div class="descripcion-producto">
                        <h3><%= product.description %></h3>
                        <div class="price-and-discount">
                        <p class="price">$<%= product.price %></p>
                        <% if (product.discount > 0) { %>
                            <p id="discount"><%= product.discount %>%OFF</p>
                        <% } %>
                        </div>
                </section>

                <section>
        
                    <div>
                        <article class="colores">
                            <p>Color</p>
                        </article>
                        <article class="colores-images">
                            <figure>
                                <img src="/images/products/<%= product.image %> ">
                            </figure>
                            <figure>
                                <img src="/images/products/<%= product.image %> ">
                            </figure>
        
                        </article>
                    </div>
        
                </section>
        
                <section>
                    <div class="label-talles">
                        <label>Seleccione su talle</label>
                    </div>
                    <div class="talles-producto">
                        <form action="#" method="POST">
        
                            <div class="check-list">
                                <div class="style-checklist">
                                    <div>
                                        <label for="Talle-S"><a href="#">S</a></label>
                                    </div>
                                </div>
                                <div class="style-checklist">
                                    <div>
                                        <label for="Talle-M"><a href="#">M</a></label>
                                    </div>
                                </div>
                                <div class="style-checklist">
                                    <div>
                                        <label for="Talle-L"><a href="#">L</a></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section>
                    <div class="botones-producto">
                        <ul>
                            <a href="/productos/carrito"><li>Añadir al carrito <i class="fas fa-shopping-cart"></i></li></a>
                            <a href="#"><li>Favoritos <i class="far fa-heart"></i></li></a>
                        </ul>
                    </div>
                    <% if (locals.userLogged && locals.userLogged.roleId == 1){ %>
                        <div class="button-edit">
                            <a href="/productos/editar/<%= product.id %>"><li class="edit-product">Editar Producto</li></a>
                        </div>
                            
                        <div class="button-delete">
                            <form action="/productos/eliminar/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete">Eliminar Producto</button>
                            </form>
                        </div>
                    <% } %>
                </section>
            </div>
        </div>
    </main>
        
    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>