<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>
    
    <main>
        <div class="main">
    
            <section class="registro">
                <h2 class="titulo">NUEVOS CLIENTES</h2>
                <p class="parrafo">Al registrarte en nuestro sitio web, agilizaras el proceso de compra, te enterarás
                    cuando tengamos ofertas especiales, podrás hacer un seguimiento de tus pedidos, y mucho más.</p>
                <div class="boton" id="registrarse">
                    <a href="/usuarios/registrarse">REGISTRARSE</a>
                </div>
            </section>
    
            <section id="formulario">
    
                <section>
                    <h2 class="titulo">CLIENTES REGISTRADOS</h2>
                    <p class="parrafo">Si ya tienes una cuenta, ingresá tus datos a continuación</p>
                </section>
                <form action="/usuarios/iniciarSesion" method="POST" class="formulario-login" id="formularioLogin">
                        
                    <div class="campo-texto label">
                        <input type="email" name ="email" placeholder="Correo electrónico" class="email">
                    </div>
                    <% if (locals.errorMessages && errorMessages.email) { %>
                        <p class="error"> <%= errorMessages.email.msg %> </p>
                    <% } %>
                    <p id="emailErrorJs"> </p>
                    <div class="campo-texto label">
                        <input type="password" name= "password" placeholder="Contraseña" class="contrasenia">
                    </div>
                    <% if (locals.errorMessages && errorMessages.password) { %>
                        <p class="error"> <%= errorMessages.password.msg %> </p>
                    <% } %>
                    <p id="passwordErrorJs"> </p>   
                    <div class="label" id="mantener-conectado">
                        <input type="checkbox" name="rememberUser" value="mantener-conectado" id="mantener">
                        <label for="mantener">Mantenerme conectado</label>
                    </div>
    
                    <div class="boton" id="ingresar">
                        <button type="submit">INGRESAR</button>
                    </div>
    
                    <div id="olvidar-contraseña">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
    
                </form>
            </section>
    
        </div>
    </main>

    <%- include("../partials/footer") %>
<script src="/js/validationLogin.js"></script>
</body>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>