<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>
    
    <%- include("../partials/header") %>

    <main>
        <section id="main">
            <section id="formulario">

                <h2 id="titulo">REGISTRO</h2>

                <form action="/usuarios/registrarse" method="POST" enctype="multipart/form-data">

                    <div class="campo-texto label">
                        <input type="text" name="firstName" placeholder="Nombre" 
                            <% if (locals.oldData && oldData.firstName) { %>
                                value="<%= oldData.firstName %>" 
                            <% } %>
                        >
                    </div>
                    <% if (locals.errorMessages && errorMessages.firstName) { %>
                        <p class="error"> <%= errorMessages.firstName.msg %> </p>
                    <% } %>

                    <div class="campo-texto label">
                        <input type="text" name="lastName" placeholder="Apellido"
                            <% if (locals.oldData && oldData.lastName) { %>
                                value="<%= oldData.lastName %>" 
                            <% } %>
                        >
                    </div>
                    <% if (locals.errorMessages && errorMessages.lastName) { %>
                        <p class="error"> <%= errorMessages.lastName.msg %> </p>
                    <% } %>

                    <div class="label">
                        <input type="radio" name="roleId" value="2" 
                            <% if (!locals.oldData || (locals.oldData && (!oldData.roleId || oldData.roleId === "2"))) { %>
                                checked
                            <% } %>
                        > Cliente <br>
                        <input type="radio" name="roleId" value="1"
                            <% if (locals.oldData && oldData.roleId === "1") { %>
                                checked
                            <% } %>
                        > Admin
                    </div>
                    <% if (locals.errorMessages && errorMessages.roleId) { %>
                        <p class="error"> <%= errorMessages.roleId.msg %> </p>
                    <% } %>

                    <div class="campo-texto label">
                        <input type="email" name="email" placeholder="Correo electrónico" 
                            <% if (locals.oldData && oldData.email) { %>
                                value="<%= oldData.email %>" 
                            <% } %>
                        >
                    </div>
                    <% if (locals.errorMessages && errorMessages.email) { %>
                        <p class="error"> <%= errorMessages.email.msg %> </p>
                    <% } %>

                    <div class="campo-texto label" id="contraseña">
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                    <% if (locals.errorMessages && errorMessages.password) { %>
                        <p class="error"> <%= errorMessages.password.msg %> </p>
                    <% } %>
                    
                    <div class="label">
                        <label for="date" id="fecha-nacimiento">Fecha de nacimiento</label>
                        <div class="campo-texto" id="date">
                            <input type="date" name="birthdate" id="date" 
                                <% if (locals.oldData && oldData.birthdate) { %>
                                    value="<%= oldData.birthdate %>" 
                                <% } %>
                            >
                        </div>
                    </div>
                    <% if (locals.errorMessages && errorMessages.birthdate) { %>
                        <p class="error"> <%= errorMessages.birthdate.msg %> </p>
                    <% } %>

                    <div class="label">
                        <label for="profileImage">Elige tu foto de perfil</label>
                        <input type="file" name="profileImage" >
                    </div>
                    
                    <% if (locals.errorMessages && errorMessages.profileImage) { %>
                        <p class="error"> <%= errorMessages.profileImage.msg %> </p>
                    <% } %>

                    <div class="label" id="terminos-condiciones">
                        <input type="checkbox" name="terminos_condiciones" value="true" id="terminos"
                            <% if (!locals.oldData || (locals.oldData && oldData.terminos_condiciones)) { %>
                                checked
                            <% } %>
                        >
                        <label for="terminos">Acepto los términos y condiciones</label>
                        <% if (locals.errorMessages && errorMessages.terminos_condiciones) { %>
                            <p class="error"> <%= errorMessages.terminos_condiciones.msg %> </p>
                        <% } %>
                    </div>

                    <div class="boton" id="registrarme">
                        <button type="submit">REGISTRARME</button>
                    </div>
                </form>
            </section>
        </section>
    </main>

    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>